* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", "sans-serif";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../assets/netflix-fundo.svg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem;
}


h1 {
  color: #d61c1c;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  background-color: #be1a1a;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #911414;
}

button[type=submit]:disabled {
  background-color: #af4f4f;
  cursor: not-allowed;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

form>* {
  width: 80%;
}

label {
  display: inline-block;
  color: #fff;
  margin-bottom: 12px;
}

small.help {
  margin-top: 2px;
  color: #858585;
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 6.5em;
  resize: none;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
}

section.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 30px 35px 30px;
  gap: 20px;
}

textarea[isvalid=false],
input[isvalid=false] {
  border: 1.5px solid #FF0000;
}

textarea[isvalid=true],
input[isvalid=true] {
  border: 1px solid #4CAF50;
}

label[isvalid=false] {
  color: #FF0000;
}

label[isvalid=true] {
  color: #4CAF50;
}

div.ref-btn {
  position: relative;
}

.btn-ator {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(-4%, -50%);
  cursor: pointer;
  padding: 2px 6px;
  color: #333;
  background-color: #eeeeee;
  border: 0;
}

ul#elenco-list {
  list-style: none;
  background-color: #fff;
  color: #222;
  margin-top: 8px;
}

ul#elenco-list li {
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #222;
}